<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOGS" value="./logs" />
	<appender name="Console"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</layout>
	</appender>

	<appender name="ROLLIN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logFile.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			daily rollover
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

			keep 30 days' worth of history capped at 3GB total size
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>

		</rollingPolicy>

		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}  %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>



	<root level="trace">
		<appender-ref ref="Console" />
	</root>

	<logger name="com.mindtree.shoppingcart" level="trace"
		additivity="false">
		<appender-ref ref="ROLLIN" />
		<appender-ref ref="Console" />
	</logger>

</configuration>

